* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  z-index: 10;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

$main-color: #fff;

html {
  font-size: 10px;
}

body {
  background-color: $main-color;
  font-size: 14px;
}

.container {
  width: 420px;
  height: 420px;
  margin: 0 auto;
}

.header {
  padding: 30px 0 65px;
  text-align: center;
}

.title img {
  width: 300px;
}

.game {
  position: relative;
}

.game-explain {
  color: #999;
  font-weight: 300;
  font-size: 16px;
  padding-top: 20px;
}

.game-board {
  width: 420px;
  height: 420px;
  box-sizing: content-box;
  border: 5px solid #8d9e96;
  position: relative;
}

.win {
  position: absolute;
  width: 430px;
  height: 430px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 1s ease-in-out;

  display: none;
  justify-content: center;
  align-items: center;
}

@keyframes opa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

.view {
  display: flex;
  animation: opa 1s forwards;
}

.win-modal {
  position: relative;
  top: -20px;
  font-size: 24px;
}

.smile {
  font-size: 100px;
  display: block;
  text-align: center;
}

.col {
  width: 100px;
  height: 100px;
  border: 7px solid #fff;
  border-radius: 50%;
  position: absolute;

  font-size: 30px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 1s;
}

.col:nth-child(-n+4) {
  background-color: #ffc843;
}

.col:nth-child(n+5):nth-child(-n+8) {
  background-color: #69c6ab;
}

.col:nth-child(n+9):nth-child(-n+12) {
  background-color: #00b3e3;
}

.col:nth-child(n+13):nth-child(-n+15) {
  background-color: #fb581e;
}

[data-idx='0']{
  transform: translate(4px, 4px);
}

[data-idx='1']{
  transform: translate(calc(100% + 8px), 4px)
}

[data-idx='2']{
  transform: translate(calc(200% + 12px), 4px)
}

[data-idx='3']{
  transform: translate(calc(300% + 16px), 4px)
}

[data-idx='4']{
  transform: translate(4px, calc(100% + 8px));
}

[data-idx='5']{
  transform: translate(calc(100% + 8px), calc(100% + 8px));
}

[data-idx='6']{
  transform: translate(calc(200% + 12px), calc(100% + 8px));
}

[data-idx='7']{
  transform: translate(calc(300% + 16px), calc(100% + 8px));
}

[data-idx='8']{
  transform: translate(4px, calc(200% + 12px));
}

[data-idx='9'] {
  transform: translate(calc(100% + 8px), calc(200% + 12px));
}

[data-idx='10'] {
  transform: translate(calc(200% + 12px), calc(200% + 12px));
}

[data-idx='11'] {
  transform: translate(calc(300% + 16px), calc(200% + 12px));
}

[data-idx='12'] {
  transform: translate(4px, calc(300% + 16px));
}

[data-idx='13'] {
  transform: translate(calc(100% + 8px), calc(300% + 16px));
}

[data-idx='14'] {
  transform: translate(calc(200% + 12px), calc(300% + 16px));
}

[data-idx='15']{
  transform: translate(calc(300% + 16px), calc(300% + 16px));
}

.blank {
  color: transparent;
  border-color: transparent;
}

.info {
  background-color: #eee;

  margin: 15px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  // text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.info-block {
  margin-top: 5px
}

.time {
  margin-left: 10px;
}

.btn-restart {
  // display: inline-block;
  font-size: 14px;
  font-weight: 300;
  width: 100px;
  line-height: 25px;
  border: 1px solid #aaa;
  color: #aaa;
  background-color: #fff;
  border-radius: 20px;

  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);

  transition: all 0.5s ease-in-out;
}

.btn-restart:hover {
  background-color: #aaa;
  color: #fff;
}

@media screen and (max-width: 480px) {
  $viewWidth: calc(100vw - 20px);

  .title img {
    width: 80vw;
  }

  .container, .game, .game-board, .win {
    max-width: 480px;
    width: calc(100vw - 20px);
    height: $viewWidth;
    max-height: 480px;
  }

  .game-board {
    box-sizing: border-box;
    border-width: 5px;
  }

  .col {
    width : calc(25% - 4px);
    height: calc(25% - 4px);
    border: 5px solid #fff;
  }

  .blank {
    border-color: transparent;
  }
}
