* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  z-index: 10;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

$main-color: skyblue;

html {
  font-size: 10px;
}

body {
  background-color: $main-color;
  font-size: 14px;
}

.container {
  width: 500px;
  background-color: #ff0;
  margin: 0 auto;
}
.title {
  text-align: center;
  padding: 10px 0;
}

.game-board {
  width: 100%;
  border: 1px solid #333;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.col {
  border: 1px solid #333;
  width: 110px;
  height: 110px;
  font-size: 40px;
  // transition: all .2s;
}

.move, .time{
  float: left;
}
.btn-restart {
  float: right;
}

.blank {
  background-color: green;
}
