* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  z-index: 10;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

$main-color: skyblue;

html {
  font-size: 10px;
}

body {
  background-color: $main-color;
  font-size: 14px;
}

.container {
  width: 500px;
  background-color: #ff0;
  margin: 0 auto;
}
.title {
  text-align: center;
  padding: 10px 0;
}

.game-board {
  width: 100%;
  border: 1px solid #333;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.col {
  border: 1px solid #333;
  width: 110px;
  height: 110px;
  font-size: 40px;
  transition: all 0.5s;
}

.col-1 {
  transform: translate(4px, 4px);
}

.col-2 {
  transform: translate(calc(100% + 8px), 4px)
}

.col-3 {
  transform: translate(calc(200% + 12px), 4px)
}

.col-4 {
  transform: translate(calc(300% + 16px), 4px)
}

.col-5 {
  transform: translate(4px, calc(100% + 8px));
}

.col-6 {
  transform: translate(calc(100% + 8px), calc(100% + 8px));
}

.col-7 {
  transform: translate(calc(200% + 12px), calc(100% + 8px));
}

.col-8 {
  transform: translate(calc(300% + 16px), calc(100% + 8px));
}

.col-9 {
  transform: translate(4px, calc(200% + 12px));
}

.col-10 {
  transform: translate(calc(100% + 8px), calc(200% + 12px));
}

.col-11 {
  transform: translate(calc(200% + 12px), calc(200% + 12px));
}

.col-12 {
  transform: translate(calc(300% + 16px), calc(200% + 12px));
}

.col-13 {
  transform: translate(4px, calc(300% + 16px));
}

.col-14 {
  transform: translate(calc(100% + 8px), calc(300% + 16px));
}

.col-15 {
  transform: translate(calc(200% + 12px), calc(300% + 16px));
}

.col-0 {
  transform: translate(calc(300% + 16px), calc(300% + 16px));
}

.col-blank {
  color: transparent;
  border-color: transparent;
}
.move, .time{
  float: left;
}
.btn-restart {
  float: right;
}

// css
// * ,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   box-sizing: border-box;
// }

// .readable-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0,0,0,0);
//   z-index: 10;
// }

// .clearfix::after {
//   display: block;
//   clear: both;
//   content: "";
// }

// $main-color: skyblue;

// html {
//   font-size: 10px;
// }

// body {
//   background-color: $main-color;
//   font-size: 14px;
// }

// .container {
//   width: 500px;
//   height: 500px;
//   margin: 0 auto;
// }

// .game {
//   background-color: #ff0;
// }

// .title {
//   text-align: center;
//   padding: 10px 0;
// }

// .game-board {
//   width: 500px;
//   height: 500px;
//   border: 1px solid #333;
// }

// [class*="col-"] {
//   width: 120px;
//   height: 120px;
//   border: 1px solid #333;
//   position: absolute;

//   font-size: 24px;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   transition: all 1s;
// }
